.Bookmark
    // Quran Section
    h2 Quran
    .Bookmark__Sections
        a.Bookmark__Sections--link Chapters
        a.Bookmark__Sections--link Verses
        a.Bookmark__Sections--link Page

    // Hadith Section
    h2 Hadith
    .Bookmark__Sections 
        a.Bookmark__Sections--link Books
        a.Bookmark__Sections--link Hadiths
        a.Bookmark__Sections--link Sections

    // Tafsir Section
    h2 Tafsir
    .Bookmark__Sections
        a.Bookmark__Sections--link Books

a.DeleteAll 
    i(class="fi fi-sr-trash")