.Bookmark
    // Quran Section
    h2 Quran
    .Bookmark__Sections
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_chapters') Chapters
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_verses') Verses
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_pages') Page

    // Hadith Section
    h2 Hadith
    .Bookmark__Sections 
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_hadiths') Hadiths
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_sections_hadith') Sections

    // Books Section
    h2 Books
    .Bookmark__Sections
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_books_quran') Quran
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_books_tafsir') Tafsir
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_books_hadiths') Hadith

a.DeleteAll.floatingButton 
    i(class="fi fi-sr-trash")

.Popup.invisible
    .Popup__Content
        h2 Are you sure you want to delete all bookmarks?
        .Popup__Buttons
            button.no(id="No") No
            button.yes(id="Yes") Yes