.Bookmark
    // Quran Section
    h2 Quran
    .Bookmark__Sections
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_chapters') Chapters
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_verses') Verses
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_pages') Page

    // Hadith Section
    h2 Hadith
    .Bookmark__Sections 
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_books_hadiths') Books
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_hadiths') Hadiths
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_sections_hadith') Sections

    // Tafsir Section
    h2 Tafsir
    .Bookmark__Sections
        a(class='Bookmark__Sections--link' href='/user/bookmarks/fav_books_tafsir') Books

a.DeleteAll 
    i(class="fi fi-sr-trash")

.Popup
    .Popup__Content
        h2 Are you sure you want to delete all bookmarks?
        .Popup__Buttons
            button.no No
            button.yes Yes