.Login
    h1 Login
    form.form__login
        .form
            label(for="email") Email
            input(type="email", id="email", name="email", placeholder="Enter your email" required)
        .password-container
            div
                label(for="password") Password
                input(type="password", id="password", name="password", placeholder="Enter your password" required)
                p Forgot your password? <a href="#" id="forgotten" class='link'>Click here</a> to reset it.              
  
        div
            input(type="submit", value="Login!" class="btn--login")
    .lower
        p
            | Don't have an account? 
            a(href="/user/signup") Signup
