.Login
    h1 Password Reset
    form.form__login
        .password-container
            div
                label(for="password") Enter Your New Password
                input(type="password", id="password", name="password", placeholder="Enter your password" required)
            div
                label(for="passwordConfirm") Confirm Password
                input(type="password", id="passwordConfirm", name="passwordConfirm", placeholder="Confirm your password" required)
  
        div
            input(type="submit", value="Login!" class="btn--login")
    .lower
        p
            | Don't have an account? 
            a(href="/user/signup") Signup
