footer.footer
  .footer__content
    .footer__section.footer__section--about
      h2 About وردي
      p Wardi is your daily source of spiritual nourishment, offering Quranic readings, Hadith, and Tafsir. Join us on the path of enlightenment.
      
    .footer__section.footer__section--links
      h2 Quick Links
      ul
        li 
          a(href='/') Home
        li 
          a(href='/quran') Quran
        li 
          a(href='/hadith') Hadith
        li 
          a(href='/tafsir') Tafsir
        li 
          a(href='/about') About
      
    .footer__section.footer__section--contact
      h2 Contact Us
      p Email: info@wardi.com
      p Phone: +123 456 7890
      p Address: 123 Islamic Street, Does not exist :)
      
    .footer__section.footer__section--social
      h2 Follow Us
      ul.footer__social-icons
        li 
          a(href='#')
            img(src='path/to/facebook-icon.png' alt='Facebook')
        li 
          a(href='#')
            img(src='path/to/twitter-icon.png' alt='Twitter')
        li 
          a(href='#')
            img(src='path/to/instagram-icon.png' alt='Instagram')
  
  .footer__bottom
    p &copy; 2024 وردى. All Rights Reserved.
