header.header
    nav
        ul.topbar
            li.header__logo
                a(href='/views/landing.html' )
                  img(src='../public/img/LogoHD.png', alt='Logo') 

            li.header__quran
                i(class="fi fi-rs-book-quran")                
                a(href='/views/quranReading.html') Quran

            li.header__hadith
                i(class="fi fi-rs-books")                
                a(href='/views/hadithReading.html') Hadith

            li.header__tafsir
                i(class="fi fi-rs-book-open-cover")                
                a(href='/views/tafsirReading.html') Tafsir

            li.header__about
                i(class="fi fi-rs-info")                
                a(href='/views/about.html') About

            li.header__bookmarks
                i(class="fi fi-rs-wishlist-star")                
                a(href='/views/bookmarks.html') Bookmarks

            li.header__search
                input(type="text", placeholder="Search..")
                i(class="fi fi-rs-search")
                a(href='/views/search/html') 
                
            li.header__user
                a(href='/views/login.html') 
                i( class="fi fi-rs-user")

            li.header__menu
                a(href='/views/menu.html')
                i( class="fi fi-rr-menu-burger")
                //- i( class="fi fi-rr-cross")

        ul.Menusidebar
            li.header__quran
                i(class="fi fi-rs-book-quran")                
                a(href='/views/quranReading.html') Quran

            li.header__hadith
                i(class="fi fi-rs-books")                
                a(href='/views/hadithReading.html') Hadith

            li.header__tafsir
                i(class="fi fi-rs-book-open-cover")                
                a(href='/views/tafsirReading.html') Tafsir

            li.header__about
                i(class="fi fi-rs-info")                
                a(href='/views/about.html') About

            li.header__bookmarks
                i(class="fi fi-rs-wishlist-star")                
                a(href='/views/bookmarks.html') Bookmarks