
<header class="header">
  <nav>
    <ul>
      <li class="header__logo"><a href="/"><img src="../public/img/LogoHD.png" alt="Logo"/></a></li>
      <li class="header__quran"><i class="fi fi-rs-book-quran">               </i><a href="/views/quranReading.html">Quran</a></li>
      <li class="header__hadith"><i class="fi fi-rs-books">               </i><a href="/views/hadithReading.html">Hadith</a></li>
      <li class="header__tafsir"><i class="fi fi-rs-book-open-cover">               </i><a href="/views/tafsirReading.html">Tafsir</a></li>
      <li class="header__about"><i class="fi fi-rs-info">               </i><a href="/views/about.html">About</a></li>
      <li class="header__bookmarks"><i class="fi fi-rs-wishlist-star">               </i><a href="/views/bookmarks.html">Bookmarks</a></li>
      <li class="header__search"><a href="/views/search/html"> </a><i class="fi fi-rs-search"></i>
        <input/>
      </li>
      <li class="header__user"><a href="/views/login.html"> </a><i class="fi fi-rs-user"></i></li>
    </ul>
  </nav>
</header>