header.header
    nav
        ul.topbar
            li.header__logo
                a(href='/views/landing.html' )
                  img(src='/img/LogoHD.png', alt='Logo') 

            li.header__quran
                a(href='/views/quranReading.html') Quran
                    i(class="fi fi-rs-book-quran")                

            li.header__hadith
                a(href='/views/hadithReading.html') Hadith
                    i(class="fi fi-rs-books")                

            li.header__tafsir
                a(href='/views/tafsirReading.html') Tafsir
                    i(class="fi fi-rs-book-open-cover")                

            li.header__about
                a(href='/views/about.html') About
                    i(class="fi fi-rs-info")                

            li.header__bookmarks
                a(href='/views/bookmarks.html') Bookmarks
                    i(class="fi fi-rs-wishlist-star")                

            li.header__search
                input(type="text", placeholder="Search..")
                a(href='/views/search/html') 
                    i(class="fi fi-rs-search")
                
            li.header__user
                a(href='/views/login.html') 
                    i( class="fi fi-rs-user")

            li.header__menu
                a(href='#')
                    i( class="fi fi-rr-menu-burger")
                //- i( class="fi fi-rr-cross")

        ul.Menusidebar
            li.header__quran
                a(href='/views/quranReading.html') Quran
                    i(class="fi fi-rs-book-quran")                

            li.header__hadith
                a(href='/views/hadithReading.html') Hadith
                    i(class="fi fi-rs-books")                

            li.header__tafsir
                a(href='/views/tafsirReading.html') Tafsir
                    i(class="fi fi-rs-book-open-cover")                

            li.header__about
                a(href='/views/about.html') About
                    i(class="fi fi-rs-info")                

            li.header__bookmarks
                a(href='/views/bookmarks.html') Bookmarks
                    i(class="fi fi-rs-wishlist-star")                