header.header
    nav
        ul 
            li.header__logo
                a(href='/') Logo
            li.header__quran
                a(href='/about') Quran
            li.header__hadith
                a(href='/contact') Hadith
            li.header__tafsir   
                a(href='/login') Tafsir
            li.header__about   
                a(href='/login') About
            li.header__user   
                a(href='/login') User