header.header
    nav
        ul
            li.header__logo
                a(href='/' )
                  img(src='../public/img/HD_Logo_Finale.png', alt='Logo') 

            li.header__quran
                i(class="fi fi-rs-book-quran")                
                a(href='#quranReading') Quran

            li.header__hadith
                i(class="fi fi-rs-books")                
                a(href='#hadithReading') Hadith

            li.header__tafsir
                i(class="fi fi-rs-book-open-cover")                
                a(href='#tafsirReading') Tafsir

            li.header__about
                i(class="fi fi-rs-info")                
                a(href='#about') About

            li.header__bookmarks
                i(class="fi fi-rs-wishlist-star")                
                a(href='#bookmarks') Bookmarks

            li.header__search
                a(href='#search') 
                i( class="fi fi-rs-search")
                
            li.header__user
                a(href='#login') 
                i( class="fi fi-rs-user")