
<header class="header">
  <nav>
    <ul>
      <li class="header__logo"><a href="/"><img src="../public/img/LogoHD.png" alt="Logo"/></a></li>
      <li class="header__quran"><i class="fi fi-rs-book-quran">               </i><a href="/quranReading">Quran</a></li>
      <li class="header__hadith"><i class="fi fi-rs-books">               </i><a href="/hadithReading">Hadith</a></li>
      <li class="header__tafsir"><i class="fi fi-rs-book-open-cover">               </i><a href="/tafsirReading">Tafsir</a></li>
      <li class="header__about"><i class="fi fi-rs-info">               </i><a href="/about">About</a></li>
      <li class="header__bookmarks"><i class="fi fi-rs-wishlist-star">               </i><a href="/bookmarks">Bookmarks</a></li>
      <li class="header__search"><a href="/search"> </a><i class="fi fi-rs-search"></i></li>
      <li class="header__user"><a href="/login"> </a><i class="fi fi-rs-user"></i></li>
    </ul>
  </nav>
</header>