<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link rel="icon" type="image/x-icon" href="../public/img/favicon.ico">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css">
    <script src="../public/source/landing.js" defer></script>
    <title>Wardi | </title>
  </head>
  <body class="loginpage">
    <!-- HEADER-->
    <header class="header">
      <nav>
        <ul class="topbar">
          <li class="header__logo"><a href="/views/landing.html"><img src="../public/img/LogoHD.png" alt="Logo"></a></li>
          <li class="header__quran"><a href="/views/quranReading.html">Quran<i class="fi fi-rs-book-quran">               </i></a></li>
          <li class="header__hadith"><a href="/views/hadithReading.html">Hadith<i class="fi fi-rs-books">               </i></a></li>
          <li class="header__tafsir"><a href="/views/tafsirReading.html">Tafsir<i class="fi fi-rs-book-open-cover">               </i></a></li>
          <li class="header__about"><a href="/views/about.html">About<i class="fi fi-rs-info">               </i></a></li>
          <li class="header__bookmarks"><a href="/views/bookmarks.html">Bookmarks<i class="fi fi-rs-wishlist-star">               </i></a></li>
          <li class="header__search">
            <input type="text" placeholder="Search.."><a href="/views/search/html"> <i class="fi fi-rs-search"></i></a>
          </li>
          <li class="header__user"><a href="/views/login.html"> <i class="fi fi-rs-user"></i></a></li>
          <li class="header__menu"><a href="#"><i class="fi fi-rr-menu-burger"></i></a></li>
        </ul>
        <ul class="Menusidebar">
          <li class="header__quran"><a href="/views/quranReading.html">Quran<i class="fi fi-rs-book-quran">               </i></a></li>
          <li class="header__hadith"><a href="/views/hadithReading.html">Hadith<i class="fi fi-rs-books">               </i></a></li>
          <li class="header__tafsir"><a href="/views/tafsirReading.html">Tafsir<i class="fi fi-rs-book-open-cover">               </i></a></li>
          <li class="header__about"><a href="/views/about.html">About<i class="fi fi-rs-info">               </i></a></li>
          <li class="header__bookmarks"><a href="/views/bookmarks.html">Bookmarks<i class="fi fi-rs-wishlist-star">               </i></a></li>
        </ul>
      </nav>
    </header>
    <main class="mainloginpage">
      <!-- CONTENT-->
      <div class="login">
        <h1>Login</h1>
        <form action="/login" method="post">
          <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}$">
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div>
            <input type="submit" value="Login">
          </div>
        </form>
      </div>
    </main>
    <!-- FOOTER-->
  </body>
</html>