
<div class="Lsidebar"> 
  <h1>Surahs</h1>
  <ul>
    <li><a class="LsideEntry" href="/quranReading/1">1- Al-Fatihah</a></li>
    <li><a class="LsideEntry" href="/quranReading/2">2- Al-Baqarah</a></li>
    <li><a class="LsideEntry" href="/quranReading/3">3- Aal-E-Imran</a></li>
    <li><a class="LsideEntry" href="/quranReading/4">4- An-Nisa</a></li>
    <li><a class="LsideEntry" href="/quranReading/5">5- Al-Ma'idah</a></li>
    <li><a class="LsideEntry" href="/quranReading/6">6- Al-An'am</a></li>
    <li><a class="LsideEntry" href="/quranReading/7">7- Al-A'raf</a></li>
    <li><a class="LsideEntry" href="/quranReading/8">8- Al-Anfal</a></li>
    <li><a class="LsideEntry" href="/quranReading/9">9- At-Tawbah</a></li>
    <li><a class="LsideEntry" href="/quranReading/10">10- Yunus</a></li>
    <li><a class="LsideEntry" href="/quranReading/11">11- Hud</a></li>
    <li><a class="LsideEntry" href="/quranReading/12">12- Yusuf</a></li>
    <li><a class="LsideEntry" href="/quranReading/13">13- Ar-Ra'd</a></li>
    <li><a class="LsideEntry" href="/quranReading/14">14- Ibrahim</a></li>
    <li><a class="LsideEntry" href="/quranReading/15">15- Al-Hijr</a></li>
    <li><a class="LsideEntry" href="/quranReading/16">16- An-Nahl</a></li>
    <li><a class="LsideEntry" href="/quranReading/17">17- Al-Isra</a></li>
    <li><a class="LsideEntry" href="/quranReading/18">18- Al-Kahf</a></li>
    <li><a class="LsideEntry" href="/quranReading/19">19- Maryam</a></li>
    <li><a class="LsideEntry" href="/quranReading/20">20- Taha</a></li>
    <li><a class="LsideEntry" href="/quranReading/21">21- Al-Anbiya</a></li>
    <li><a class="LsideEntry" href="/quranReading/22">22- Al-Hajj</a></li>
    <li><a class="LsideEntry" href="/quranReading/23">23- Al-Mu'minun</a></li>
    <li><a class="LsideEntry" href="/quranReading/24">24- An-Nur</a></li>
    <li><a class="LsideEntry" href="/quranReading/25">25- Al-Furqan</a></li>
    <li><a class="LsideEntry" href="/quranReading/26">26- Ash-Shu'ara</a></li>
    <li><a class="LsideEntry" href="/quranReading/27">27- An-Naml</a></li>
    <li><a class="LsideEntry" href="/quranReading/28">28- Al-Qasas</a></li>
    <li><a class="LsideEntry" href="/quranReading/29">29- Al-Ankabut</a></li>
    <li><a class="LsideEntry" href="/quranReading/30">30- Ar-Rum</a></li>
  </ul>
</div>