.Rsidebar 
    h1 Ayats
    .search
        input(type="text" placeholder="Search")
        i(class="fi fi-rs-search")
    ul
        li
            a(href="/quranReading/1/1" class="RsideEntry" ) 1
        li
            a(href="/quranReading/1/2" class="RsideEntry" ) 2
        li
            a(href="/quranReading/1/3" class="RsideEntry" ) 3
        li
            a(href="/quranReading/1/4" class="RsideEntry" ) 4
        li
            a(href="/quranReading/1/5" class="RsideEntry" ) 5
        li
            a(href="/quranReading/1/6" class="RsideEntry" ) 6
        li
            a(href="/quranReading/1/7" class="RsideEntry" ) 7
        li
            a(href="/quranReading/1/8" class="RsideEntry" ) 8
        li
            a(href="/quranReading/1/9" class="RsideEntry" ) 9
        li
            a(href="/quranReading/1/10" class="RsideEntry" ) 10
        li
            a(href="/quranReading/1/11" class="RsideEntry" ) 11
        li
            a(href="/quranReading/1/12" class="RsideEntry" ) 12
        li
            a(href="/quranReading/1/13" class="RsideEntry" ) 13
        li
            a(href="/quranReading/1/14" class="RsideEntry" ) 14
        li
            a(href="/quranReading/1/15" class="RsideEntry" ) 15
        li
            a(href="/quranReading/1/16" class="RsideEntry" ) 16
        li
            a(href="/quranReading/1/17" class="RsideEntry" ) 17
        li
            a(href="/quranReading/1/18" class="RsideEntry" ) 18
        li
            a(href="/quranReading/1/19" class="RsideEntry" ) 19
        li
            a(href="/quranReading/1/20" class="RsideEntry" ) 20
        li
            a(href="/quranReading/1/21" class="RsideEntry" ) 21
        li
            a(href="/quranReading/1/22" class="RsideEntry" ) 22
        li
            a(href="/quranReading/1/23" class="RsideEntry" ) 23
        li
            a(href="/quranReading/1/24" class="RsideEntry" ) 24
        li
            a(href="/quranReading/1/25" class="RsideEntry" ) 25
        li
            a(href="/quranReading/1/26" class="RsideEntry" ) 26
        li
            a(href="/quranReading/1/27" class="RsideEntry" ) 27
        li
            a(href="/quranReading/1/28" class="RsideEntry" ) 28
        li
            a(href="/quranReading/1/29" class="RsideEntry" ) 29
        li
            a(href="/quranReading/1/30" class="RsideEntry" ) 30
