.Rsidebar 
    h1 List of Ayat
    ul
        li
            a(href="/quranReading/1/1" class="LsideEntry" ) 1
        li
            a(href="/quranReading/1/2" class="LsideEntry" ) 2
        li
            a(href="/quranReading/1/3" class="LsideEntry" ) 3
        li
            a(href="/quranReading/1/4" class="LsideEntry" ) 4
        li
            a(href="/quranReading/1/5" class="LsideEntry" ) 5
        li
            a(href="/quranReading/1/6" class="LsideEntry" ) 6
        li
            a(href="/quranReading/1/7" class="LsideEntry" ) 7
        li
            a(href="/quranReading/1/8" class="LsideEntry" ) 8
        li
            a(href="/quranReading/1/9" class="LsideEntry" ) 9
        li
            a(href="/quranReading/1/10" class="LsideEntry" ) 10
        li
            a(href="/quranReading/1/11" class="LsideEntry" ) 11
        li
            a(href="/quranReading/1/12" class="LsideEntry" ) 12
        li
            a(href="/quranReading/1/13" class="LsideEntry" ) 13
        li
            a(href="/quranReading/1/14" class="LsideEntry" ) 14
        li
            a(href="/quranReading/1/15" class="LsideEntry" ) 15
        li
            a(href="/quranReading/1/16" class="LsideEntry" ) 16
        li
            a(href="/quranReading/1/17" class="LsideEntry" ) 17
        li
            a(href="/quranReading/1/18" class="LsideEntry" ) 18
        li
            a(href="/quranReading/1/19" class="LsideEntry" ) 19
        li
            a(href="/quranReading/1/20" class="LsideEntry" ) 20
        li
            a(href="/quranReading/1/21" class="LsideEntry" ) 21
        li
            a(href="/quranReading/1/22" class="LsideEntry" ) 22
        li
            a(href="/quranReading/1/23" class="LsideEntry" ) 23
        li
            a(href="/quranReading/1/24" class="LsideEntry" ) 24
        li
            a(href="/quranReading/1/25" class="LsideEntry" ) 25
        li
            a(href="/quranReading/1/26" class="LsideEntry" ) 26
        li
            a(href="/quranReading/1/27" class="LsideEntry" ) 27
        li
            a(href="/quranReading/1/28" class="LsideEntry" ) 28
        li
            a(href="/quranReading/1/29" class="LsideEntry" ) 29
        li
            a(href="/quranReading/1/30" class="LsideEntry" ) 30
