extends ./Layout/_base

block append head
  - var bodyClass = 'Bookmarks'
  - var mainClass = 'mainBookmarks'
  script(src='/js/index.js' type="module" defer)

block content
  include ./Content/_bookmarks

block footer
