<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link rel="icon" type="image/x-icon" href="../public/img/favicon.ico">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css">
    <script src="../public/source/landing.js" defer></script>
    <title>Wardi | </title>
    <script src="../public/source/reader.js" defer></script>
  </head>
  <body class="hadithReading">
    <!-- HEADER-->
    <header class="header">
      <nav>
        <ul class="topbar">
          <li class="header__logo"><a href="/views/landing.html"><img src="../public/img/LogoHD.png" alt="Logo"></a></li>
          <li class="header__quran"><i class="fi fi-rs-book-quran">               </i><a href="/views/quranReading.html">Quran</a></li>
          <li class="header__hadith"><i class="fi fi-rs-books">               </i><a href="/views/hadithReading.html">Hadith</a></li>
          <li class="header__tafsir"><i class="fi fi-rs-book-open-cover">               </i><a href="/views/tafsirReading.html">Tafsir</a></li>
          <li class="header__about"><i class="fi fi-rs-info">               </i><a href="/views/about.html">About</a></li>
          <li class="header__bookmarks"><i class="fi fi-rs-wishlist-star">               </i><a href="/views/bookmarks.html">Bookmarks</a></li>
          <li class="header__search">
            <input type="text" placeholder="Search.."><i class="fi fi-rs-search"></i><a href="/views/search/html"> </a>
          </li>
          <li class="header__user"><a href="/views/login.html"> </a><i class="fi fi-rs-user"></i></li>
          <li class="header__menu"><a href="/views/menu.html"></a><i class="fi fi-rr-menu-burger"></i></li>
        </ul>
        <ul class="Menusidebar">
          <li class="header__quran"><i class="fi fi-rs-book-quran">               </i><a href="/views/quranReading.html">Quran</a></li>
          <li class="header__hadith"><i class="fi fi-rs-books">               </i><a href="/views/hadithReading.html">Hadith</a></li>
          <li class="header__tafsir"><i class="fi fi-rs-book-open-cover">               </i><a href="/views/tafsirReading.html">Tafsir</a></li>
          <li class="header__about"><i class="fi fi-rs-info">               </i><a href="/views/about.html">About</a></li>
          <li class="header__bookmarks"><i class="fi fi-rs-wishlist-star">               </i><a href="/views/bookmarks.html">Bookmarks</a></li>
        </ul>
      </nav>
    </header>
    <main class="mainhadithReading">
      <!-- CONTENT-->
      <div class="Lsidebar"> 
        <h1>Surahs</h1>
        <ul>
          <li><a class="LsideEntry" href="/quranReading/1">1- Al-Fatihah</a></li>
          <li><a class="LsideEntry" href="/quranReading/2">2- Al-Baqarah</a></li>
          <li><a class="LsideEntry" href="/quranReading/3">3- Aal-E-Imran</a></li>
          <li><a class="LsideEntry" href="/quranReading/4">4- An-Nisa</a></li>
          <li><a class="LsideEntry" href="/quranReading/5">5- Al-Ma'idah</a></li>
          <li><a class="LsideEntry" href="/quranReading/6">6- Al-An'am</a></li>
          <li><a class="LsideEntry" href="/quranReading/7">7- Al-A'raf</a></li>
          <li><a class="LsideEntry" href="/quranReading/8">8- Al-Anfal</a></li>
          <li><a class="LsideEntry" href="/quranReading/9">9- At-Tawbah</a></li>
          <li><a class="LsideEntry" href="/quranReading/10">10- Yunus</a></li>
          <li><a class="LsideEntry" href="/quranReading/11">11- Hud</a></li>
          <li><a class="LsideEntry" href="/quranReading/12">12- Yusuf</a></li>
          <li><a class="LsideEntry" href="/quranReading/13">13- Ar-Ra'd</a></li>
          <li><a class="LsideEntry" href="/quranReading/14">14- Ibrahim</a></li>
          <li><a class="LsideEntry" href="/quranReading/15">15- Al-Hijr</a></li>
          <li><a class="LsideEntry" href="/quranReading/16">16- An-Nahl</a></li>
          <li><a class="LsideEntry" href="/quranReading/17">17- Al-Isra</a></li>
          <li><a class="LsideEntry" href="/quranReading/18">18- Al-Kahf</a></li>
          <li><a class="LsideEntry" href="/quranReading/19">19- Maryam</a></li>
          <li><a class="LsideEntry" href="/quranReading/20">20- Taha</a></li>
          <li><a class="LsideEntry" href="/quranReading/21">21- Al-Anbiya</a></li>
          <li><a class="LsideEntry" href="/quranReading/22">22- Al-Hajj</a></li>
          <li><a class="LsideEntry" href="/quranReading/23">23- Al-Mu'minun</a></li>
          <li><a class="LsideEntry" href="/quranReading/24">24- An-Nur</a></li>
          <li><a class="LsideEntry" href="/quranReading/25">25- Al-Furqan</a></li>
          <li><a class="LsideEntry" href="/quranReading/26">26- Ash-Shu'ara</a></li>
          <li><a class="LsideEntry" href="/quranReading/27">27- An-Naml</a></li>
          <li><a class="LsideEntry" href="/quranReading/28">28- Al-Qasas</a></li>
          <li><a class="LsideEntry" href="/quranReading/29">29- Al-Ankabut</a></li>
          <li><a class="LsideEntry" href="/quranReading/30">30- Ar-Rum</a></li>
        </ul>
      </div>
      <div class="hadith"> 
        <div class="toggle"><i class="fi fi-rr-menu-burger"></i></div>
        <h1 class="hadith__title">الحديث رقم {1}</h1>
        <h2 class="hadith__start">13</h2>
        <p>حَدَّثَنَا عَبْدُ اللَّهِ بْنُ مَسْلَمَةَ الْقَعْنَبِيُّ، عَنْ مَالِكٍ، عَنِ ابْنِ شِهَابٍ، عَنْ عُبَيْدِ اللَّهِ بْنِ عَبْدِ اللَّهِ بْنِ عُتْبَةَ بْنِ مَسْعُودٍ، عَنْ أُمِّ قَيْسٍ بِنْتِ مِحْصَنٍ، أَنَّهَا أَتَتْ بِابْنٍ لَهَا صَغِيرٍ لَمْ يَأْكُلِ الطَّعَامَ إِلَى رَسُولِ اللَّهِ صلى الله عليه وسلم فَأَجْلَسَهُ رَسُولُ اللَّهِ صلى الله عليه وسلم فِي حِجْرِهِ فَبَالَ عَلَى ثَوْبِهِ فَدَعَا بِمَاءٍ فَنَضَحَهُ وَلَمْ يَغْسِلْهُ ‏.‏</p><br>
        <div class="grades">
          <p>Al-Albani : Hasan Sahih </p>
          <p>Muhammad Muhyi Al-Din Abdul Hamid : Hasan Sahih</p>
        </div>
      </div>
      <div class="Rsidebar"> 
        <h1>Ayats</h1>
        <ul>
          <li><a class="RsideEntry" href="/quranReading/1/1">1</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/2">2</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/3">3</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/4">4</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/5">5</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/6">6</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/7">7</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/8">8</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/9">9</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/10">10</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/11">11</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/12">12</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/13">13</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/14">14</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/15">15</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/16">16</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/17">17</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/18">18</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/19">19</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/20">20</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/21">21</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/22">22</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/23">23</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/24">24</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/25">25</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/26">26</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/27">27</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/28">28</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/29">29</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/30">30</a></li>
        </ul>
      </div>
    </main>
    <!-- FOOTER-->
  </body>
</html>