extends base

block append head
  script(src='../public/source/reader.js' defer )
  - var title = 'Quran Reading'
  - var bodyClass = 'hadithReading'
  - var mainClass = 'mainhadithReading'

block content
  include _Lsidebar
  include _hadith
  include _Rsidebar

block footer