extends base

block content
    .title
        h1.title__main وردي
        h2.title__sub شفيع دربي

    .cuts
        .cuts__quran اقرأ القرآن
        .cuts__hadith اقرأ الحديث
        .cuts__tafsir اقرأ التفسير       
            
    .cards
        //- card for each surah : this is a template as of now
        
        .cards__surah 
            p.cards__surah__info__order 1
            h3.cards__surah__name الفاتحة
            .cards__surah__info
                p.cards__surah__info__ayat 7 آيات
                p.cards__surah__info__type مكية
                p.cards__surah__info__fav
                    a(href="#") &hearts;

        .cards__surah 
            p.cards__surah__info__order 2
            h3.cards__surah__name االبقرة
            .cards__surah__info
                p.cards__surah__info__ayat 286 آيات
                p.cards__surah__info__type مدنية
                p.cards__surah__info__fav
                    a(href="#") &hearts;

        .cards__surah 
            p.cards__surah__info__order 3
            h3.cards__surah__name آل عمران
            .cards__surah__info
                p.cards__surah__info__ayat  200 آيات
                p.cards__surah__info__type مدنية
                p.cards__surah__info__fav
                    a(href="#") &hearts;
            
