<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link rel="icon" type="image/x-icon" href="../public/img/favicon.ico">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css">
    <title>Wardi | </title>
  </head>
  <body class="quranReading">
    <!-- HEADER-->
    <header class="header">
      <nav>
        <ul>
          <li class="header__logo"><a href="/"><img src="../public/img/LogoHD.png" alt="Logo"></a></li>
          <li class="header__quran"><i class="fi fi-rs-book-quran">               </i><a href="/quranReading">Quran</a></li>
          <li class="header__hadith"><i class="fi fi-rs-books">               </i><a href="/hadithReading">Hadith</a></li>
          <li class="header__tafsir"><i class="fi fi-rs-book-open-cover">               </i><a href="/tafsirReading">Tafsir</a></li>
          <li class="header__about"><i class="fi fi-rs-info">               </i><a href="/about">About</a></li>
          <li class="header__bookmarks"><i class="fi fi-rs-wishlist-star">               </i><a href="/bookmarks">Bookmarks</a></li>
          <li class="header__search"><a href="/search"> </a><i class="fi fi-rs-search"></i></li>
          <li class="header__user"><a href="/login"> </a><i class="fi fi-rs-user"></i></li>
        </ul>
      </nav>
    </header>
    <main class="mainquranReading">
      <!-- CONTENT-->
      <div class="Lsidebar"> 
        <h1>Surahs</h1>
        <ul>
          <li><a class="LsideEntry" href="/quranReading/1">1- Al-Fatihah</a></li>
          <li><a class="LsideEntry" href="/quranReading/2">2- Al-Baqarah</a></li>
          <li><a class="LsideEntry" href="/quranReading/3">3- Aal-E-Imran</a></li>
          <li><a class="LsideEntry" href="/quranReading/4">4- An-Nisa</a></li>
          <li><a class="LsideEntry" href="/quranReading/5">5- Al-Ma'idah</a></li>
          <li><a class="LsideEntry" href="/quranReading/6">6- Al-An'am</a></li>
          <li><a class="LsideEntry" href="/quranReading/7">7- Al-A'raf</a></li>
          <li><a class="LsideEntry" href="/quranReading/8">8- Al-Anfal</a></li>
          <li><a class="LsideEntry" href="/quranReading/9">9- At-Tawbah</a></li>
          <li><a class="LsideEntry" href="/quranReading/10">10- Yunus</a></li>
          <li><a class="LsideEntry" href="/quranReading/11">11- Hud</a></li>
          <li><a class="LsideEntry" href="/quranReading/12">12- Yusuf</a></li>
          <li><a class="LsideEntry" href="/quranReading/13">13- Ar-Ra'd</a></li>
          <li><a class="LsideEntry" href="/quranReading/14">14- Ibrahim</a></li>
          <li><a class="LsideEntry" href="/quranReading/15">15- Al-Hijr</a></li>
          <li><a class="LsideEntry" href="/quranReading/16">16- An-Nahl</a></li>
          <li><a class="LsideEntry" href="/quranReading/17">17- Al-Isra</a></li>
          <li><a class="LsideEntry" href="/quranReading/18">18- Al-Kahf</a></li>
          <li><a class="LsideEntry" href="/quranReading/19">19- Maryam</a></li>
          <li><a class="LsideEntry" href="/quranReading/20">20- Taha</a></li>
          <li><a class="LsideEntry" href="/quranReading/21">21- Al-Anbiya</a></li>
          <li><a class="LsideEntry" href="/quranReading/22">22- Al-Hajj</a></li>
          <li><a class="LsideEntry" href="/quranReading/23">23- Al-Mu'minun</a></li>
          <li><a class="LsideEntry" href="/quranReading/24">24- An-Nur</a></li>
          <li><a class="LsideEntry" href="/quranReading/25">25- Al-Furqan</a></li>
          <li><a class="LsideEntry" href="/quranReading/26">26- Ash-Shu'ara</a></li>
          <li><a class="LsideEntry" href="/quranReading/27">27- An-Naml</a></li>
          <li><a class="LsideEntry" href="/quranReading/28">28- Al-Qasas</a></li>
          <li><a class="LsideEntry" href="/quranReading/29">29- Al-Ankabut</a></li>
          <li><a class="LsideEntry" href="/quranReading/30">30- Ar-Rum</a></li>
        </ul>
      </div>
      <div class="quran"> 
        <h1 class="quran__title">البقرة</h1>
        <h2 class="quran__basmallah">1</h2>
        <p>إِنَّ ٱلَّذِينَ كَفَرُواْ سَوَآءٌ عَلَيۡهِمُۥ ءَا۬نذَرۡتَهُمُۥ أَمۡ لَمۡ تُنذِرۡهُمُۥ لَا يُؤۡمِنُونَ</p>
        <p>خَتَمَ ٱللَّهُ عَلَىٰ قُلُوبِهِمُۥ وَعَلَىٰ سَمۡعِهِمُۥۖ وَعَلَىٰ أَبۡصَٰرِهِمُۥ غِشَٰوَةࣱۖ وَلَهُمُۥ عَذَابٌ عَظِيمࣱ</p>
        <p>وَمِنَ ٱلنَّاسِ مَن يَقُولُ ءَامَنَّا بِٱللَّهِ وَبِٱلۡيَوۡمِ ٱلۡأٓخِرِ وَمَا هُمُۥ بِمُؤۡمِنِينَ</p>
        <p>يُخَٰدِعُونَ ٱللَّهَ وَٱلَّذِينَ ءَامَنُواْ وَمَا يُخَٰدِعُونَ إِلَّا أَنفُسَهُمُۥ وَمَا يَشۡعُرُونَ</p>
        <p>فِي قُلُوبِهِمُۥ مَرَضࣱ فَزَادَهُمُ ٱللَّهُ مَرَضࣰ اۖ وَلَهُمُۥ عَذَابٌ أَلِيمُۢ بِمَا كَانُواْ يُكَذِّبُونَ</p>
        <p>وَإِذَا قِيلَ لَهُمُۥ لَا تُفۡسِدُواْ فِي ٱلۡأَرۡضِ قَالُواْ إِنَّمَا نَحۡنُ مُصۡلِحُونَ</p>
        <p>أَلَا إِنَّهُمُۥ هُمُ ٱلۡمُفۡسِدُونَ وَلَٰكِن لَّا يَشۡعُرُونَ</p>
        <p>وَإِذَا قِيلَ لَهُمُۥ ءَامِنُواْ كَمَا ءَامَنَ ٱلنَّاسُ قَالُواْ أَنُؤۡمِنُ كَمَا ءَامَنَ ٱلسُّفَهَآءُۗ اَ۬لَا إِنَّهُمُۥ هُمُ ٱلسُّفَهَآءُ وَلَٰكِن لَّا يَعۡلَمُونَ</p>
        <p>وَإِذَا لَقُواْ ٱلَّذِينَ ءَامَنُواْ قَالُواْ ءَامَنَّا وَإِذَا خَلَوۡاْ إِلَىٰ شَيَٰطِينِهِمُۥ قَالُواْ إِنَّا مَعَكُمُۥ إِنَّمَا نَحۡنُ مُسۡتَهۡزِءُونَ</p>
        <p>ٱللَّهُ يَسۡتَهۡزِئُ بِهِمُۥ وَيَمُدُّهُمُۥ فِي طُغۡيَٰنِهِمُۥ يَعۡمَهُونَ</p>
        <p>أُوْلَٰٓئِكَ ٱلَّذِينَ ٱشۡتَرَوُاْ ٱلضَّلَٰلَةَ بِٱلۡهُدَىٰ فَمَا رَبِحَت تِّجَٰرَتُهُمُۥ وَمَا كَانُواْ مُهۡتَدِينَ</p>
      </div>
      <div class="Rsidebar"> 
        <h1>Ayats</h1>
        <ul>
          <li><a class="RsideEntry" href="/quranReading/1/1">1</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/2">2</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/3">3</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/4">4</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/5">5</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/6">6</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/7">7</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/8">8</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/9">9</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/10">10</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/11">11</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/12">12</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/13">13</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/14">14</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/15">15</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/16">16</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/17">17</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/18">18</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/19">19</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/20">20</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/21">21</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/22">22</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/23">23</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/24">24</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/25">25</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/26">26</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/27">27</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/28">28</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/29">29</a></li>
          <li><a class="RsideEntry" href="/quranReading/1/30">30</a></li>
        </ul>
      </div>
    </main>
    <!-- FOOTER-->
  </body>
</html>