extends ./Layout/_base

block append head
  script(src='/js/Reader.js' defer type='module')
  - var bodyClass = 'Reading_Hadith'
  - var mainClass = 'mainReading_Hadith'

block content
  include ./Layout/_Lsidebar
  include ./Content/_hadith
  include ./Layout/_Rsidebar

block footer