extends ./Layout/_base

block append head
  script(src='/js/index.js' defer type='module') )
  - var bodyClass = 'Reading_Tafsir'
  - var mainClass = 'mainReading_Tafsir'

block content
  include ./Layout/_Lsidebar
  include ./Content/_tafsir
  include ./Layout/_Rsidebar
  include ./Layout/_Floating

block footer