extends ./Layout/_base

block append head 
  - var bodyClass = 'SearchPage'
  - var mainClass = 'mainSearchPage'
//-   script(src="/js/User.js" defer type="module") 

block content
  include ./Content/_search

block footer