extends ./Layout/_base

block append head
  script(src='/js/Signup.js' type="module" defer)
  - var title = 'Signup'
  - var bodyClass = 'Signuppage'
  - var mainClass = 'mainSignuppage'

block content
  include ./Content/_signup

block footer
