extends ./Layout/_base

block append head
  - var bodyClass = 'SingleBookmark'
  - var mainClass = 'SinglemainBookmark'
//-   script(src='/js/Login.js' type="module" defer)

block content
  include ./Content/_singlebookmark

block footer
