extends ./Layout/base

block append head
  script(src='/source/reader.js' defer )
  - var title = 'Quran Reading'
  - var bodyClass = 'Tafsir_Reading'
  - var mainClass = 'mainTafsir_Reading'

block content
  include ./Layout/_Lsidebar
  include ./Content/_tafsir
  include ./Layout/_Rsidebar

block footer