extends base

block append head
  script(src='../public/source/reader.js' defer )
  - var title = 'Quran Reading'
  - var bodyClass = 'tafsirReading'
  - var mainClass = 'maintafsirReading'

block content
  include _Lsidebar
  include _tafsir
  include _Rsidebar

block footer