extends ./Layout/_base

block append head 
  script(src="/js/index.js" defer type="module") 
  - var bodyClass = 'Userpage'
  - var mainClass = 'mainUserpage'

block content
  include ./Content/_User

block footer