@import url("../css/amiri.css");
@font-face {
  font-family: "Uthmanic";
  src: url("../fonts/Uthmanic-V22.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Surah";
  src: url("../fonts/Elgharib-SurahName V4.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Basmallah";
  src: url("../fonts/Elgharib-Basmala.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Divider";
  src: url("../fonts/Elgharib-Dividers.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Parenthesis";
  src: url("../fonts/Elgharib-A002.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 45%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  background-color: #0D142C;
  position: relative;
}

::selection {
  background-color: #edeef2;
}

body {
  font-family: "AmiriWeb", serif;
}

.title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  margin-top: -3rem;
  margin-bottom: -2rem;
  font-size: 20rem;
  color: #c72378;
  text-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.5);
  max-width: 100%;
  padding: 0 1rem;
}
.title h1:hover {
  transform: scale(1.2) translateY(-0.5rem);
  text-shadow: 0.4rem 0.4rem 2rem rgba(199, 35, 120, 0.452);
  color: #c72378;
}
.title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  font-size: 5rem;
  color: #b0b5c9;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(199, 35, 120, 0.5);
  max-width: 100%;
  padding: 0 1rem;
}
.title h2:hover {
  transform: scale(1.2) translateY(-0.5rem);
  text-shadow: 0.4rem 0.4rem 2rem rgba(176, 181, 201, 0.452);
  color: #b0b5c9;
}

.Lsidebar h1,
.Rsidebar h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  margin: 2rem 2rem;
  padding: 0.5em;
  background-color: #0D142C;
  color: #c72378;
  border: 2px solid rgba(1, 2, 5, 0.9);
  border-radius: 1rem;
  transition: all 0.3s;
}

.mainquranReading,
.maintafsirReading,
.mainhadithReading {
  column-gap: 1%;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  align-items: start;
  margin: 0;
}
.mainquranReading.active,
.maintafsirReading.active,
.mainhadithReading.active {
  grid-template-columns: min-content 1fr min-content;
}

.hadithReading,
.quranReading,
.tafsirReading {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: rgba(1, 2, 5, 0.3);
  padding: 1rem 1rem;
}
.header nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  list-style: none;
  width: 100%;
}
.header nav ul li {
  margin-right: 1rem;
  position: relative;
}
.header nav ul li:last-child {
  margin-right: 0;
}
.header nav ul li:hover {
  transform: scale(1.3) translateY(0);
  text-shadow: 0.4rem 0.4rem 2rem rgba(255, 255, 255, 0.452);
  color: white;
}
.header nav ul li:hover * {
  color: white;
}
.header nav ul li:hover a i {
  cursor: pointer;
}
.header nav ul li a i {
  font-size: 2rem;
  color: #c72378;
  position: absolute;
  left: -70%;
}
.header nav ul li.header__bookmarks a i {
  left: -40%;
}
.header nav ul li.header__logo {
  margin-right: auto;
}
.header nav ul li.header__logo img {
  width: 5rem;
  height: 5rem;
}
.header nav ul li.header__logo a i {
  align-self: flex-start;
}
.header nav ul li.header__user, .header nav ul li.header__menu {
  display: flex;
  align-items: center;
}
.header nav ul li.header__user img, .header nav ul li.header__menu img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.header nav ul li.header__user:hover, .header nav ul li.header__menu:hover {
  cursor: pointer;
}
.header nav ul li.header__user a i, .header nav ul li.header__menu a i {
  transform: translate(-1rem, -1rem);
}
.header nav ul li.header__user, .header nav ul li.header__menu, .header nav ul li.header__search {
  transform: translateX(-1rem);
}
.header nav ul li.header__menu {
  transform: translateX(-2rem);
  display: none;
  z-index: 10;
}
@media (max-width: 1150px) {
  .header nav ul li.header__menu {
    display: flex;
  }
}
.header nav ul li.header__search {
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
}
.header nav ul li.header__search input {
  order: 1;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  background-color: rgba(1, 2, 5, 0.5);
  color: #c72378;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}
.header nav ul li.header__search input:focus {
  color: white;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.311);
}
.header nav ul li.header__search a {
  order: 2;
  font-size: 2rem;
  color: #c72378;
  margin-left: 1rem;
  position: relative;
  transform: none;
  cursor: pointer;
}
.header nav ul li.header__search a i {
  transform: translateY(-1rem);
}
.header nav ul li.header__search:hover {
  transform: none;
}
.header nav ul li.header__search:hover input {
  background-color: rgba(1, 2, 5, 0.7);
}
.header nav ul li.header__search:hover * {
  color: white;
}
.header nav ul li a, .header nav ul li:visited {
  text-decoration: none;
  color: #c72378;
  font-size: 1.6rem;
}
.header nav ul.topbar li.header__quran, .header nav ul.topbar li.header__hadith, .header nav ul.topbar li.header__tafsir, .header nav ul.topbar li.header__about, .header nav ul.topbar li.header__bookmarks {
  transform: translateX(15rem);
}
@media (max-width: 1150px) {
  .header nav ul.topbar li.header__quran, .header nav ul.topbar li.header__hadith, .header nav ul.topbar li.header__tafsir, .header nav ul.topbar li.header__about, .header nav ul.topbar li.header__bookmarks {
    display: none;
  }
}
.header nav ul.Menusidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 20rem;
  background-color: rgba(1, 2, 5, 0.9);
  transition: all 0.3s;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding-top: 4rem;
  z-index: 5;
  backdrop-filter: blur(15px);
}
.header nav ul.Menusidebar li {
  transform: translateX(5rem);
  margin-right: 0;
  width: 100%;
  z-index: 10;
}
.header nav ul.Menusidebar li:hover {
  text-shadow: 0.4rem 0.4rem 2rem rgba(255, 255, 255, 0.452);
}
.header nav ul.Menusidebar li a i {
  left: -15%;
}
.header nav ul.Menusidebar.open {
  display: flex;
}
@media (min-width: 1150px) {
  .header nav ul.Menusidebar.open {
    display: none;
  }
}
@media (max-width: 400px) {
  .header nav ul.Menusidebar.open {
    width: 107vw;
    padding-left: 5rem;
  }
  .header nav ul.Menusidebar.open li a {
    font-size: 5rem;
    margin-left: 5rem;
  }
  .header nav ul.Menusidebar.open li a i {
    left: -10%;
    font-size: 5rem;
  }
}

.footer {
  background-color: rgba(1, 2, 5, 0.1);
  color: #fff;
  padding: 2rem;
  text-align: center;
  width: 100%;
  align-self: end;
}
.footer__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
.footer__section {
  margin-bottom: 1.5rem;
}
.footer__section h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.footer__section p,
.footer__section ul {
  font-size: 1rem;
  margin: 0;
}
.footer__section ul {
  list-style-type: none;
  padding: 0;
}
.footer__section ul li {
  margin-bottom: 0.5rem;
}
.footer__section ul li a {
  color: #fff;
  text-decoration: none;
}
.footer__section ul li a:hover {
  text-decoration: underline;
}
.footer__social-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footer__social-icons li a img {
  width: 32px;
  height: 32px;
}
.footer__bottom {
  margin-top: 2rem;
  font-size: 0.875rem;
  border-top: 1px solid #444;
  padding-top: 1rem;
}

.Lsidebar {
  background-color: #192653;
  border-radius: 2rem;
  display: none;
  flex-direction: column;
  padding: 2rem;
  grid-template-rows: min-content 1fr;
  overflow-y: auto;
  flex-wrap: nowrap;
  position: relative;
  max-height: 90vh;
}
.Lsidebar h1 {
  font-size: 4rem;
}
.Lsidebar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0;
  gap: 0.5em;
  flex-wrap: nowrap;
}
.Lsidebar ul li {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .Lsidebar {
    max-height: 7vh;
    height: 30vh;
    width: 97vw;
    align-items: center;
    padding: 0.5rem;
  }
  .Lsidebar h1 {
    font-size: 2.4rem;
    padding: 0.5rem;
  }
  .Lsidebar ul {
    flex-direction: row;
    max-height: 7vh;
    justify-content: center;
    align-items: center;
  }
  .Lsidebar ul li a {
    padding: 0.5rem;
    font-size: 2rem;
    width: 20rem;
  }
}
@media screen and (max-width: 1000px) {
  .Lsidebar h1 {
    font-size: 2rem;
  }
  .Lsidebar ul li a {
    font-size: 1.5rem;
    width: 15rem;
  }
}
.Lsidebar.active {
  display: flex;
}
.Lsidebar .search {
  position: relative;
}
.Lsidebar .search input {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: 2px solid black;
  background-color: #24387b;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.Lsidebar .search input:focus {
  outline: none;
  color: #c72378;
}
.Lsidebar .search i {
  position: absolute;
  font-size: 2rem;
  color: #c72378;
  top: 37%;
  right: 7%;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .Lsidebar {
    grid-row: 1/2;
  }
}

.Rsidebar {
  background-color: #192653;
  border-radius: 2rem;
  display: none;
  flex-direction: column;
  padding: 2rem;
  grid-template-rows: min-content 1fr;
  overflow-y: auto;
  flex-wrap: nowrap;
  position: relative;
  max-height: 90vh;
}
.Rsidebar h1 {
  font-size: 4rem;
}
.Rsidebar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0;
  gap: 0.5em;
  flex-wrap: nowrap;
}
.Rsidebar ul li {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .Rsidebar {
    max-height: 7vh;
    height: 30vh;
    width: 97vw;
    align-items: center;
    padding: 0.5rem;
  }
  .Rsidebar h1 {
    font-size: 2.4rem;
    padding: 0.5rem;
  }
  .Rsidebar ul {
    flex-direction: row;
    max-height: 7vh;
    justify-content: center;
    align-items: center;
  }
  .Rsidebar ul li a {
    padding: 0.5rem;
    font-size: 2rem;
    width: 20rem;
  }
}
@media screen and (max-width: 1000px) {
  .Rsidebar h1 {
    font-size: 2rem;
  }
  .Rsidebar ul li a {
    font-size: 1.5rem;
    width: 15rem;
  }
}
.Rsidebar.active {
  display: flex;
}
.Rsidebar .search {
  position: relative;
}
.Rsidebar .search input {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: 2px solid black;
  background-color: #24387b;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.Rsidebar .search input:focus {
  outline: none;
  color: #c72378;
}
.Rsidebar .search i {
  position: absolute;
  font-size: 2rem;
  color: #c72378;
  top: 37%;
  right: 7%;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .Rsidebar {
    grid-row: 2/3;
  }
}

.hadith,
.quran,
.tafsir {
  position: relative;
  background-color: rgba(245, 246, 255, 0.7);
  color: black;
  text-align: center;
  font-size: 4rem;
  line-height: 7rem;
  padding: 2rem;
  border-radius: 2rem;
  height: 90vh;
  width: 100%;
  overflow-y: auto;
}
.hadith .active,
.quran .active,
.tafsir .active {
  width: 70vw;
}
.hadith .toggle,
.quran .toggle,
.tafsir .toggle {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.hadith h1 {
  font-family: "Parenthesis", "AmiriWeb", serif;
  font-weight: 800;
  margin: 3rem 0rem;
}
.hadith p {
  font-family: "AmiriWeb", serif;
  font-weight: 400;
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 5rem;
}
.hadith h2 {
  font-family: "Divider", serif;
  font-size: 10rem;
  font-weight: 400;
  margin: 1.5rem 0rem;
}
.hadith .grades p {
  border: none;
  padding: 0rem;
}

.quran p {
  font-family: "Uthmanic", "AmiriWeb", serif;
  font-weight: 400;
}
.quran h1 {
  font-family: "Surah", serif;
  font-weight: 400;
  margin: 1.5rem 0rem;
}
.quran h2 {
  font-family: "Basmallah", serif;
  font-weight: 400;
  margin: 1.5rem 0rem;
}

.tafsir h1 {
  font-family: "Surah", serif;
  font-weight: 400;
  margin: 1.5rem 0rem;
}
.tafsir h2 {
  font-family: "Basmallah", serif;
  font-weight: 400;
  margin: 1.5rem 0rem;
}
.tafsir p {
  font-family: "Uthmanic", "AmiriWeb", serif;
  font-weight: 400;
  margin: 1.5rem 0rem;
  text-align: end;
}
.tafsir p.verse {
  border: 3px solid rgba(0, 0, 0, 0.5);
  padding: 2rem;
}
.tafsir p.explanation {
  border: 3px solid rgba(0, 0, 0, 0.1);
  font-size: 3rem;
  line-height: 4.5rem;
  padding: 2rem;
  color: rgba(0, 0, 0, 0.6);
}
.tafsir p.seperator {
  font-family: "Divider", serif;
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-weight: 400;
  margin: 0rem 0rem;
}

@media screen and (max-width: 1200px) {
  .mainquranReading,
  .maintafsirReading,
  .mainhadithReading {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
    row-gap: 2%;
  }
  .mainquranReading.active,
  .maintafsirReading.active,
  .mainhadithReading.active {
    grid-template-columns: 1fr;
    grid-template-rows: 7vh 7vh 1fr;
  }
  .mainquranReading.active .tafsir,
  .mainquranReading.active .quran,
  .mainquranReading.active .hadith,
  .maintafsirReading.active .tafsir,
  .maintafsirReading.active .quran,
  .maintafsirReading.active .hadith,
  .mainhadithReading.active .tafsir,
  .mainhadithReading.active .quran,
  .mainhadithReading.active .hadith {
    height: 76vh;
  }
  .Lsidebar,
  .Rsidebar {
    flex-direction: row;
  }
  .tafsir,
  .quran,
  .hadith {
    height: 94vh;
    width: 97vw;
  }
  .tafsir h1,
  .quran h1,
  .hadith h1 {
    font-size: 7rem;
  }
  .tafsir h2,
  .quran h2,
  .hadith h2 {
    font-size: 5rem;
  }
  .tafsir p.verse,
  .quran p.verse,
  .hadith p.verse {
    font-size: 3rem;
    padding: 1rem;
  }
  .tafsir p.explanation,
  .quran p.explanation,
  .hadith p.explanation {
    font-size: 2.5rem;
    padding: 1rem;
  }
  .tafsir p.seperator,
  .quran p.seperator,
  .hadith p.seperator {
    font-size: 3rem;
    padding: 1rem;
  }
}
.cuts > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-shadow: 2px 2px 20px black;
  font-size: 3rem;
  padding: 3rem 3rem;
  background-color: #192653;
  border: 3px solid rgba(1, 2, 5, 0.9);
  transition: all 0.3s;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5), 0.2rem 0.5rem 5px rgba(36, 56, 123, 0.5) inset;
  border-radius: 1rem;
  cursor: pointer;
}
@media (max-width: 800px) {
  .cuts > * {
    font-size: 2.5rem;
  }
}
@media (max-width: 656px) {
  .cuts > * {
    font-size: 1.75rem;
  }
}
.cuts > *:hover {
  transform: scale(1.2) translateY(-0.5rem);
  text-shadow: 0.4rem 0.4rem 2rem rgba(199, 35, 120, 0.452);
  color: #c72378;
}

.cards > * {
  background-color: #0D142C;
  color: white;
  position: relative;
  padding: 2rem 3rem;
  min-width: min-content;
  min-height: min-content;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5), 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.cards > * p.cards__surah__info__order,
.cards > * h3.cards__surah__name {
  display: inline;
  position: relative;
  z-index: 2;
  margin-right: 2rem;
  color: #b0b5c9;
}
.cards > * p.cards__surah__info__order {
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  color: rgb(255, 254, 254);
}
.cards > * p.cards__surah__info__order::after {
  content: "";
  width: 3.5rem;
  height: 3.5rem;
  background-color: #c72378;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 5px;
}
.cards > * p.cards__surah__info__ayat,
.cards > * p.cards__surah__info__type {
  display: inline;
  color: #737ca0;
  font-size: 2rem;
  float: left;
}
.cards > * p.cards__surah__info__type {
  float: right;
}
.cards > * a {
  position: absolute;
  top: 5%;
  right: 5%;
  color: #c72378;
  text-decoration: none;
}
.cards > *:hover {
  transform: scale(1.1);
  background-color: #701444;
  z-index: 3;
  cursor: pointer;
}
@media (max-width: 600px) {
  .cards > * {
    min-width: 40rem;
  }
}

.LsideEntry,
.RsideEntry {
  background-color: #192653;
  color: #b0b5c9;
  margin: 0.3em;
  padding: 1.75rem;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  display: block;
  border: 2px solid rgba(1, 2, 5, 0.9);
  border-radius: 1rem;
  transition: all 0.3s;
}
.LsideEntry:hover,
.RsideEntry:hover {
  background-color: #24387b;
  color: #c72378;
  transform: scale(1.05);
}
@media (max-width: 1800px) {
  .LsideEntry,
  .RsideEntry {
    font-size: 2rem;
  }
}

body {
  display: grid;
  grid-template-rows: max(min-content, 5vh), max(min-content, 70%), max(min-content, 25%);
  margin-bottom: 0;
}
body main {
  display: grid;
  grid-template-rows: minmax(30vh, min-content) repeat(2, min-content);
  grid-template-columns: [center-start] repeat(12, [col-start] minmax(min-content, 100rem) [col-end]) [center-end];
  align-items: center;
  justify-items: center;
  row-gap: 2rem;
  padding: 2rem;
  margin-left: min(10rem, 5%);
  margin-right: min(10rem, 5%);
}
body main .title {
  grid-column: center-start/center-end;
  padding: 1rem 3rem;
  transition: all 0.3s;
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .cuts {
  grid-column: center-start/center-end;
  display: flex;
  justify-content: center;
  background-color: rgba(25, 38, 83, 0.5);
  padding: 2rem;
  border-radius: 3rem;
  border: 5px solid rgba(1, 2, 5, 0.9);
  gap: 2rem;
}
body main .cards {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(4, minmax(14rem, 1fr));
  align-items: stretch;
  justify-content: center;
  align-content: center;
  border-radius: 3rem;
  gap: 2rem;
  margin-bottom: 10rem;
  background-color: #192653;
  padding: 2rem;
  font-size: 3rem;
}
@media (max-width: 1200px) {
  body main .cards {
    grid-template-columns: repeat(3, minmax(14rem, 1fr));
  }
}
@media (max-width: 900px) {
  body main .cards {
    grid-template-columns: repeat(2, minmax(14rem, 1fr));
  }
}
@media (max-width: 600px) {
  body main .cards {
    grid-template-columns: repeat(1, minmax(14rem, 1fr));
  }
}

.loginpage {
  display: grid;
  grid-template-rows: auto 1fr;
}

.mainloginpage {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr);
}

.login {
  display: flex;
  grid-column: 2/8;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #0d142c;
  color: #c72378;
  font-size: 1.6rem;
  height: 70%;
  width: 100%;
  padding: 2rem;
}
.login h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
}
.login img {
  width: 10rem;
  height: 10rem;
  border-radius: 100rem;
}
.login form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.login form div {
  margin-bottom: 2rem;
}
.login form div label {
  display: block;
  margin-bottom: 1rem;
}
.login form div input[type=email],
.login form div input[type=password] {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.login form div input[type=email]:focus,
.login form div input[type=password]:focus {
  outline: none;
  border-color: #c72378;
}
.login form div input[type=email]:invalid,
.login form div input[type=password]:invalid {
  border-color: red;
  border-width: 2px;
}
.login form div input[type=email]:valid:not(:placeholder-shown),
.login form div input[type=password]:valid:not(:placeholder-shown) {
  border-color: #0D142C;
  border-width: 2px;
}
.login form div input[type=submit] {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  background-color: #0d142c;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.login form div input[type=submit]:hover {
  background-color: #070b18;
}

/*# sourceMappingURL=style.css.map */
