*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; //

	// @media (max-width: 1200px) {
	//   font-size: 45%; // Adjust font size for large screens
	// }

	// @media (max-width: 992px) {
	//   font-size: 40%; // Adjust font size for medium screens
	// }

	// @media (max-width: 768px) {
	//   font-size: 35%; // Adjust font size for small screens
	// }

	@media (max-width: 576px) {
		font-size: 50%; // Adjust font size for extra small screens
	}

	@media (max-width: 450px) {
		font-size: 45%; // Adjust font size for extra small screens
	}
}
body {
	box-sizing: border-box;
	padding: 3rem;
	width: 100vw;
	overflow-x: hidden;
	min-height: 100vh;
	background-attachment: fixed;
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
	background-color: $primary-color; // Fallback for older browsers
	background:
		url('../../img/bg.png') center center / cover no-repeat,
		linear-gradient(to top, $primary-color-light 0%, $primary-color 100%);
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.245);
	position: relative;
	list-style-type: none;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

::selection {
	background-color: $secondary-color-light;
}
