@import url('https://fonts.googleapis.com/css2?family=Ruwudu:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Uthmanic';
    src: url('../fonts/Uthmanic-V22.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Uthmanic2';
    src: url('../fonts/Elgharib-A594.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Surah';
    src: url('../fonts/Elgharib-SurahName V4.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Basmallah';
    src: url('../fonts/Elgharib-Basmala.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Istieadha';
    src: url('../fonts/Elgharib-istieadha.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Divider';
    src: url('../fonts/Elgharib-Dividers.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Parenthesis';
    src: url('../fonts/Elgharib-Parenthesis.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'English';
    src: url('../fonts/Philosopher-Regular @Am9li9.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kufi';
    src: url('../fonts/KFGQPC-KufiStyV14.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TitleB';
    src: url('../fonts/ZakhrfaBlk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Title';
    src: url('../fonts/Zakhrfa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KaleemB';
    src: url('../fonts/Kaleem Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kaleem';
    src: url('../fonts/Kaleem.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tashabuk';
    src: url('../fonts/tashabuk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amjed';
    src: url('../fonts/HSAlmajdRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tawasul';
    src: url('../fonts/tawasul-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


// TEST
@font-face {
    font-family: 'test1';
    src: url('../fonts/alfont_com_خط-قبل-المطر.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'test2';
    src: url('../fonts/BalooBhaijaan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'test3';
    src: url('../fonts/Ebhaar Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
