body {
	font-family: 'amiri', serif;
}

.title {
	h1 {
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;
		margin-top: -3rem;
		margin-bottom: -2rem;
		font-size: 20rem;
		color: $tertiary-color;
		text-shadow: 0.2rem 0.2rem 2rem rgba($primary-color-darker, 0.5);
		max-width: 100%;
		padding: 0 1rem;
		cursor: pointer;
		&:hover {
			@include baseHover($tertiary-color);
		}
		&:active {
			transform: scale(0.9);
			color: $tertiary-color-dark;
		}
	}

	h2 {
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;
		font-size: 5rem;
		color: $secondary-color;
		text-shadow: 0.2rem 0.2rem 0.2rem rgba($tertiary-color, 0.5);
		max-width: 100%;
		padding: 0 1rem;
		cursor: pointer;
		&:hover {
			@include baseHover($secondary-color);
		}
		&:active {
			transform: scale(0.9);
			color: $secondary-color-dark;
		}
	}
}

.Lsidebar,
.Rsidebar {
	h1 {
		text-align: center;
		font-size: 3em;
		font-weight: bold;
		margin: 2rem 2rem;
		padding: 0.5em;
		background-color: $primary-color;
		color: $tertiary-color;
		border: 2px solid rgba($primary-color-dark, 0.9);
		border-radius: 1rem;
		transition: all 0.3s;
	}
}

.HadithBooks {
	.title {
		h2 {
			width: 80vw;
			font-size: 7rem;
			text-align: center;
			&:hover {
				cursor: pointer;
				color: $primary-color-dark;
				text-shadow: 0 0 10px $tertiary-color;
			}
			@media (max-width: 1000px) {
				font-size: 5.5rem;
				margin-bottom: -3rem;
			}
			@media (max-width: 800px) {
				font-size: 4.5rem;
				margin-bottom: -3.5rem;
			}
			@media (max-width: 400px) {
				font-size: 4rem;
				margin-bottom: -4rem;
			}
		}
	}
	h3 {
		font-size: 3rem;
		text-align: center;
		color: $tertiary-color;
		text-shadow: 0.2rem 0.2rem 0.2rem rgba($primary-color-darker, 0.5);
	}
	.books__card__info {
		display: flex;
		width: 100%;
		&__hadiths {
			font-size: 2rem;
			color: $border-color;
			display: flex;
		}
		&__fav a {
			text-decoration: none;
			color: $tertiary-color;
		}
		&__language {
			position: absolute;
			font-size: 2rem;
			color: $border-color;
			top: 0;
			right: 0;
			background-color: $tertiary-color;
			padding: 0.5rem;
			border-radius: 0 0 0 1rem;
			box-shadow: 0 0 10px rgba($primary-color-dark, 0.5);
		}
	}
}
