main {

	.books {
		grid-column: 3/-3;
		display: grid;
		grid-template-columns: repeat(4, minmax(14rem, 1fr));
		align-items: stretch;
		justify-content: center;
		align-content: center;
		border-radius: 3rem;
		gap: 2rem;
		margin-bottom: 10rem;
		background-color: $primary-color-light;
		padding: 2rem;
		font-size: 3rem;
		
		@media (max-width: 1000px) {
			grid-template-columns: repeat(3, minmax(14rem, 1fr));
		}
		@media (max-width: 800px) {
			grid-template-columns: repeat(2, minmax(14rem, 1fr));
		}

		@media (max-width: 400px) {
			grid-template-columns: repeat(1, minmax(14rem, 1fr));
		}
	}
}
