body {
	display: grid;
	grid-template-rows: max(min-content, 5vh), max(min-content, 70%), max(min-content, 25%);
	margin-bottom: 0;

	main {
		display: grid;
		grid-template-rows: minmax(20vh, min-content) repeat(2, min-content);
		grid-template-columns: [center-start] repeat(12, [col-start] minmax(min-content, 100rem) [col-end]) [center-end];
		align-items: center;
		justify-items: center;
		row-gap: 2rem;
		padding: 2rem;
		.title {
			grid-column: center-start / center-end;
			padding: 1rem 3rem;

			transition: all 0.3s;
			width: min-content;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.cuts {
			grid-column: center-start / center-end;
			display: flex;
			justify-content: center;
			background-color: rgba($primary-color-light, 0.5);
			padding: 2rem;
			border-radius: 3rem;
			border: 5px solid rgba($primary-color-dark, 0.9);
			gap: 2rem;
			margin-bottom: 2rem;
		}
		.cards {
			grid-column: span 12;
			display: grid;
			grid-template-columns: repeat(4, minmax(14rem, 1fr));
			align-items: stretch; 
			justify-content: center;
			align-content: center;
			border-radius: 3rem;
			gap: 2rem;
			margin-bottom: 10rem;
			background-color: $primary-color-light;
			padding: 2rem;
			font-size: 3rem;
			box-shadow: 0 0 3rem rgba(0, 0, 0, 0.8);

			@media (max-width: 1200px) {
				grid-template-columns: repeat(3, minmax(14rem, 1fr));
			}

			@media (max-width: 900px) {
				grid-template-columns: repeat(2, minmax(14rem, 1fr));
			}

			@media (max-width: 600px) {
				grid-template-columns: repeat(1, minmax(14rem, 1fr));
			}
		}
	}
}
