.mainReading_Quran,
.mainReading_Tafsir,
.mainReading_Hadith {
	column-gap: 1%;
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns: 1fr;
	align-items: start;
	margin: 0;
	&.active {
		grid-template-columns: min-content 1fr min-content;
		@media screen and (max-width: 1200px) {
			grid-template-columns: 1fr;
			grid-template-rows: 7vh 7vh 1fr;
		}
	}
}

// html bodies
.Reading_Hadith,
.Reading_Quran,
.Reading_Tafsir {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}
