.SearchPage {
	overflow-y: hidden;
	* {
		transition: all 0.3s;
	}
}
.mainSearchPage {
	display: initial;
	padding: 0;
}
.search_page {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	height: 90vh;
}

input[type='radio'] {
	display: none;

	&:checked + label {
		background-color: $tertiary-color;
		color: $primary-color-lighter;
		box-shadow: 0 0 7rem rgba(0, 0, 0, 0.8);
		transform: scale(1.05);
	}
}

label.invisible,
.invisible {
	opacity: 0;
	visibility: hidden;
	display: none;
}
