
<footer class="footer">
  <div class="footer__content">
    <div class="footer__section footer__section--about">
      <h2>About وردي</h2>
      <p>Wardi is your daily source of spiritual nourishment, offering Quranic readings, Hadith, and Tafsir. Join us on the path of enlightenment.</p>
    </div>
    <div class="footer__section footer__section--links">
      <h2>Quick Links</h2>
      <ul>
        <li> <a href="/">Home</a></li>
        <li> <a href="/quran">Quran</a></li>
        <li> <a href="/hadith">Hadith</a></li>
        <li> <a href="/tafsir">Tafsir</a></li>
        <li> <a href="/about">About</a></li>
      </ul>
    </div>
    <div class="footer__section footer__section--contact">
      <h2>Contact Us</h2>
      <p>Email: info@wardi.com</p>
      <p>Phone: +123 456 7890</p>
      <p>Address: 123 Islamic Street, Does not exist :)</p>
    </div>
    <div class="footer__section footer__section--social">
      <h2>Follow Us</h2>
      <ul class="footer__social-icons"></ul>
      <!-- TODO: Add social media icons
      //- li 
      //-   a(href='#')
      //-     img(src='path/to/facebook-icon.png' alt='Facebook')
      //- li 
      //-   a(href='#')
      //-     img(src='path/to/twitter-icon.png' alt='Twitter')
      //- li 
      //-   a(href='#')
      //-     img(src='path/to/instagram-icon.png' alt='Instagram')
      
      -->
    </div>
  </div>
  <div class="footer__bottom">
    <p>&copy; 2024 وردى. All Rights Reserved.</p>
  </div>
</footer>