
<header class="header">
  <nav>
    <ul class="topbar">
      <li class="header__logo"><a href="/"><img src="/img/LogoHD.png" alt="Logo"/></a></li>
      <li class="header__quran"><a href="/quran/chapter/2">Quran<i class="fi fi-rs-book-quran"></i></a></li>
      <li class="header__hadith"><a href="/hadith">Hadith<i class="fi fi-rs-books"></i></a></li>
      <li class="header__tafsir"><a href="/tafsir/">Tafsir<i class="fi fi-rs-book-open-cover"></i></a></li>
      <li class="header__about"><a href="/about">About<i class="fi fi-rs-info"></i></a></li>
      <li class="header__bookmarks"><a href="/user/bookmarks">Bookmarks<i class="fi fi-rs-wishlist-star"></i></a></li>
      <li class="header__search">
        <input type="text" placeholder="Search.."/><a href="/search"> <i class="fi fi-rs-search"></i></a>
      </li>
      <li class="header__user"><a href="/user/signup"><i class="fi fi-rs-user"></i></a></li>
      <li class="header__menu"><a href="#"><i class="fi fi-rr-menu-burger"></i></a></li>
    </ul>
    <ul class="Menusidebar">
      <li class="header__quran"><a href="/quran/">Quran<i class="fi fi-rs-book-quran"></i></a></li>
      <li class="header__hadith"><a href="/hadith">Hadith<i class="fi fi-rs-books"></i></a></li>
      <li class="header__tafsir"><a href="/tafsir/1">Tafsir<i class="fi fi-rs-book-open-cover"></i></a></li>
      <li class="header__about"><a href="/about">About<i class="fi fi-rs-info"></i></a></li>
      <li class="header__bookmarks"><a href="/user/bookmarks">Bookmarks<i class="fi fi-rs-wishlist-star"></i></a></li>
    </ul>
  </nav>
</header>