<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css">
    <script src="/js/Home.js" defer></script>
    <script src="/js/myAOS.js" defer></script>
    <title>Wardi | </title>
  </head>
  <body>
    <!-- HEADER-->
    <header class="header">
      <nav>
        <ul class="topbar">
          <li class="header__logo"><a href="/"><img src="/img/LogoHD.png" alt="Logo"></a></li>
              <li class="header__quran"><a href="/quran/chapter/2">Quran<i class="fi fi-rs-book-quran"></i></a></li>
              <li class="header__hadith"><a href="/hadith">Hadith<i class="fi fi-rs-books"></i></a></li>
              <li class="header__tafsir"><a href="/tafsir/">Tafsir<i class="fi fi-rs-book-open-cover"></i></a></li>
              <li class="header__about"><a href="/about">About<i class="fi fi-rs-info"></i></a></li>
              <li class="header__bookmarks"><a href="/user/bookmarks">Bookmarks<i class="fi fi-rs-wishlist-star"></i></a></li>
          <li class="header__search">
            <input type="text" placeholder="Search.."><a href="/search"> <i class="fi fi-rs-search"></i></a>
          </li>
              <li class="header__user"><a href="/Login"><i class="fi fi-rs-user"></i></a></li>
              <li class="header__menu"><a href="#"><i class="fi fi-rr-menu-burger"></i></a></li>
        </ul>
        <ul class="Menusidebar">
              <li class="header__quran"><a href="/quran/">Quran<i class="fi fi-rs-book-quran"></i></a></li>
              <li class="header__hadith"><a href="/hadith">Hadith<i class="fi fi-rs-books"></i></a></li>
              <li class="header__tafsir"><a href="/tafsir/1">Tafsir<i class="fi fi-rs-book-open-cover"></i></a></li>
              <li class="header__about"><a href="/about">About<i class="fi fi-rs-info"></i></a></li>
              <li class="header__bookmarks"><a href="/user/bookmarks">Bookmarks<i class="fi fi-rs-wishlist-star"></i></a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- CONTENT-->
    </main>
    <!-- FOOTER-->
    <footer class="footer">
      <div class="footer__content">
        <div class="footer__section footer__section--about">
          <h2>About وردي</h2>
          <p>Wardi is your daily source of spiritual nourishment, offering Quranic readings, Hadith, and Tafsir. Join us on the path of enlightenment.</p>
        </div>
        <div class="footer__section footer__section--links">
          <h2>Quick Links</h2>
          <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="/quran">Quran</a></li>
            <li> <a href="/hadith">Hadith</a></li>
            <li> <a href="/tafsir">Tafsir</a></li>
            <li> <a href="/about">About</a></li>
          </ul>
        </div>
        <div class="footer__section footer__section--contact">
          <h2>Contact Us</h2>
          <p>Email: info@wardi.com</p>
          <p>Phone: +123 456 7890</p>
          <p>Address: 123 Islamic Street, Does not exist :)</p>
        </div>
        <div class="footer__section footer__section--social">
          <h2>Follow Us</h2>
          <ul class="footer__social-icons"></ul>
          <!-- TODO: Add social media icons
          //- li 
          //-   a(href='#')
          //-     img(src='path/to/facebook-icon.png' alt='Facebook')
          //- li 
          //-   a(href='#')
          //-     img(src='path/to/twitter-icon.png' alt='Twitter')
          //- li 
          //-   a(href='#')
          //-     img(src='path/to/instagram-icon.png' alt='Instagram')
          
          -->
        </div>
      </div>
      <div class="footer__bottom">
        <p>&copy; 2024 وردى. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>