doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      //- set the favicon
      link(rel='icon' type='image/x-icon' href='/img/favicon.ico')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css')
      link(rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css')
      link(rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css')
      script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer)
      script(src='/js/myAOS.js' defer)

      title Wardi | #{title}

  body(class=bodyClass data-alert=`${alert ? alert : ''}`)

    // HEADER
    include _header
    
    main(class=mainClass)
      // CONTENT
      block content

    // FOOTER
    block footer
      include _footer
