.Lsidebar 
    h1 Surahs
    .search
        input(type="text" placeholder="Search" class="Lsearch")
        a(class="LsearchButton")
            i(class="fi fi-rs-search")
    ul
        each surah in allchapters
            li
                if surah.chapter === chapter.chapter
                    a(href=`/quran/chapter/${surah.chapter}` class="LsideEntry selectedEntry")= surah.name
                else
                    a(href=`/quran/chapter/${surah.chapter}` class="LsideEntry")= surah.name