.Popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	text-align: center;
	box-shadow: 0 0 5rem black;
	z-index: 1000;
	.Popup__Content {
		padding: 2rem 3rem;
		border-radius: 2.5rem;
		background-color: $primary-color-light;
		border: 0.2rem solid $primary-color-darker;
		box-shadow:
			0 1.5rem 2.5rem rgba(0, 0, 0, 0.2),
			inset 0.2rem 0.4rem 0.4rem rgba($primary-color-lighter, 0.3);
		h2 {
			color: $secondary-color;
			font-size: 5rem;
			margin-bottom: 2rem;
		}
		.Popup__Buttons {
			display: flex;
			justify-content: center;
			gap: 5rem;

			button {
				padding: 1rem 3rem;
				border-radius: 1.5rem;
				font-size: 3rem;
				color: white;
				width: 10rem;
				display: flex;
				justify-content: center;
				&.yes {
					background-color: $success;
					border: $success-dark;
					color: $secondary-color-lighter;
				}
				&.no {
					background-color: $tertiary-color;
					border: $tertiary-color-dark;
					color: $secondary-color-lighter;
				}
				&:hover {
					cursor: pointer;
					scale: 1.2;
					filter: brightness(120%);
				}
				&:active {
					scale: 0.9;
					filter: brightness(80%);
				}
			}
			a {
				padding-top: 2rem;
				text-decoration: none;
				color: #c72378;
				font-size: 3rem;
				width: 25rem;
				height: 30rem;
				border: 3px solid $tertiary-color-dark;
				border-radius: 5rem;
				font-weight: 700;
				text-shadow: 0 0 1rem black;
				box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
				i {
					display: block;
					font-size: 15rem;
					text-shadow: 0 0 1rem black;
				}
				&:hover,
				&.currentMode {
					cursor: pointer;
					transform: translateY(-1.1rem);
					scale: 1.05;
					background-color: $tertiary-color;
					box-shadow: 0 0 7rem rgba(0, 0, 0, 0.8);
					color: white;
					i {
						color: white;
					}
				}
				&.currentMode {
					pointer-events: none;
				}
				&:active {
					transform: translateY(0.5rem);
					scale: 0.95;
					background-color: $tertiary-color-dark;
					box-shadow: 0 0 7rem rgba(0, 0, 0, 0.8);
					color: white;
					i {
						color: white;
					}
				}
			}
		}
		@media screen and (max-width: 1000px) {
			h2{
				font-size: 4rem;
			}
			a {
				font-size: 2rem;
				width: 17rem;
				height: 20rem;
				i {
					font-size: 10rem;
				}
			}
		}
	}
}

.invisible {
	visibility: hidden;
	opacity: 0;
}
