.LsideEntry,
.RsideEntry {
	background-color: $primary-color-light;
	color: $secondary-color;
	margin: 0.3em;
	padding: 1.75rem;

	text-decoration: none;
	font-size: clamp(1rem, 2vw, 2rem);
	display: block;
	max-height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	z-index: 20;


	border: 2px solid rgba($primary-color-dark, 0.9);
	border-radius: 1rem;
	transition: all 0.3s;
	// position: relative; // if disabled will hide the love icon
	&[style*='display: none'] {
		display: none !important;
	}
	i {
		z-index: 30;
		font-size: clamp(1rem, 2vw, 2rem);
		color: $tertiary-color;
		position: absolute;
		right: 0.35rem;
		top: 0.35rem;
		opacity: 0;
		transition: all 0.3s;
		background-color: rgba($primary-color-lighter, 0.2);
		border-radius: 1rem;
		backdrop-filter: blur(1rem);

		&:hover {
			opacity: 1;
			transform: scale(1.3);
		}
	}
	&:hover {
		background-color: $primary-color-lighter;
		color: $tertiary-color;
		transform: scale(1.05);
		* {
			opacity: 1;
		}
	}
	@media (max-width: 1800px) {
		font-size: clamp(1rem, 2vw, 2rem);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		gap: 0.5rem;
	}
	@media (max-width: 1200px) {
		min-width: calc(100% + 3rem);
	}
}
.selectedEntry {
	background-color: $tertiary-color;
	color: $primary-color-light;
}
.favourite {
	background-color: $tertiary-color;
	color: $tertiary-color;
}

.resizable {
	min-width: 20rem;
	height: fit-content;
	width: fit-content;
	max-width: 100rem;
	max-height: 100rem;
	white-space: wrap;
}