.hadith,
.quran,
.tafsir {
	// scroll-behavior: smooth;
	position: relative;
	@include reader();
	.toggle {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		margin-left: -6rem;
	}
}

.quran__page--number {
	position: static;
	opacity: 0.5;
	margin-top: 5rem;
	backdrop-filter: blur(10px);
	background-color: rgba(#b0b3c0, 0.5);
}
.divider {
	font-family: 'Divider', serif;
	font-size: 5rem;
	color: rgba(black, 0.6);
	text-align: center;
	font-weight: 400;
	margin: 5rem 0rem;
}

.hadith {
	h1,
	p h1 {
		font-family: 'Kufi', 'amiri', serif;
		font-weight: 800;
		font-size: 8rem;
		margin: 3rem 0rem;
		color: $primary-color-lighter;
		margin-top: 15rem;
		text-shadow: 0 2px 0.2rem rgba(black, 0.9);
		&.selected {
			color: rgb(98, 98, 205);
		}
	}
	p {
		font-family: 'amiri', serif;
		font-weight: 700;
		border: 3px solid rgba(0, 0, 0, 0.1);
		padding: 5rem;
		text-align: justify;
		direction: rtl;
	}
	h2,
	p h2 {
		font-family: 'Divider', serif;
		font-size: 10rem;
		font-weight: 400;
		margin: 1.5rem 0rem;
		color: $primary-color-lighter;
		&.selected {
			color: rgb(98, 98, 205);
		}
	}
	.grades {
		p {
			color: #81838d;
			border: none;
			padding: 0rem;
		}
	}
}

.quran {
	p,
	span {
		font-family: 'Uthmanic', 'amiri', serif;
		font-size: 5rem;
		font-weight: 400;
		line-height: 8rem;
		text-align: justify;
		direction: rtl;
		z-index: 5;
		.ayah_number {
			font-family: 'Uthmanic', 'amiri', serif;
			color: rgba(black, 0.5);
		}
		.padds {
			padding: 1.5rem;
		}
		&.quran__page--number {
			text-align: center;
		}
	}
	// TODO : Ayah Hovering effect
	// span:hover {
	// 	cursor: pointer;
	// 	z-index: 1;
	// 	background-color: rgba(169, 117, 117, 1);
	// 	border: rgba(169, 117, 117, 0.7);
	// 	padding: 0;
	// }
	h1 {
		font-family: 'Surah', serif;
		font-weight: 100;
		font-size: 27rem;
		margin: 8rem 0rem;
		margin-top: 15rem;
		color: $tertiary-color;
		text-shadow: 0 2px 0.2rem rgba(black, 0.9);
	}
	h2 {
		font-weight: 400;
		font-size: 13rem;
		margin: 13rem 0rem;
		text-shadow: 0 2px 0.5rem rgba(black, 0.5);
		&.quran__istieadha {
			font-family: 'Istieadha', serif;
		}
		&.quran__basmallah {
			font-family: 'Basmallah', serif;
		}
	}
	.quran__verse,
	span {
		.selected {
			color: rgb(98, 98, 205);
		}
	}
	.selected {
		color: rgb(98, 98, 205);
	}
}

.tafsir {
	h1 {
		font-family: 'Surah', serif;
		font-weight: 100;
		font-size: 27rem;
		margin: 8rem 0rem;
		margin-top: 15rem;
		color: $tertiary-color;
		text-shadow: 0 2px 0.2rem rgba(black, 0.9);
	}
	h2 {
		font-weight: 400;
		font-size: 13rem;
		margin: 13rem 0rem;
		text-shadow: 0 2px 0.5rem rgba(black, 0.5);
		&.quran__istieadha {
			font-family: 'Istieadha', serif;
		}
		&.quran__basmallah {
			font-family: 'Basmallah', serif;
		}
	}
	p {
		font-family: 'Uthmanic', 'amiri', serif;
		font-weight: 400;
		margin: 1.5rem 0rem;
		text-align: justify;
		direction: rtl;

		&.explanation {
			border: 3px solid rgba(0, 0, 0, 0.1);
			font-size: 3rem;
			line-height: 4.5rem;
			padding: 2rem;
			color: rgba(black, 0.6);
			font-family: 'amiri', serif;
			&.eng {
				direction: ltr;
			}
		}
		&.seperator {
			font-family: 'Divider', serif;
			font-size: 5rem;
			color: rgba(black, 0.6);
			text-align: center;
			font-weight: 400;
			margin: 0rem 0rem;
		}
		&.quran__verse {
			border: 3px solid rgba(0, 0, 0, 0.5);
			padding: 2rem;
		}
		&.selected {
			color: rgb(98, 98, 205);
		}
	}
}
@media screen and (max-width: 1200px) {
	.hadith,
	.tafsir {
		h1 {
			font-size: 12rem;
		}
	}
}

@media screen and (max-width: 1200px) {
	.mainReading_Quran,
	.mainReading_Tafsir,
	.mainReading_Hadith {
		grid-template-columns: 1fr;
		grid-template-rows: 3fr;
		margin: 0rem 0rem;
		row-gap: 2%;
		padding: 0;
		align-items: center;
		justify-content: center;
		&.active {
			grid-template-columns: 1fr;
			grid-template-rows: 7vh 7vh 1fr;
			.tafsir,
			.quran,
			.hadith {
				height: 73vh;
			}
		}
	}

	.Lsidebar,
	.Rsidebar {
		flex-direction: row;
	}
	.tafsir,
	.quran,
	.hadith {
		height: 91.5vh;
		width: 97vw;
		grid-row: 1/4;
		margin-bottom: 2rem;
		h1 {
			font-size: 20rem;
			margin: 0;
			margin-top: 10rem;
		}
		h2 {
			font-size: 10rem;
			&.quran__basmallah {
				margin: 7rem 0rem;
			}
		}
		p {
			&.verse {
				font-size: 3rem;
				padding: 1rem;
			}
			&.explanation {
				font-size: 2.5rem;
				padding: 1rem;
			}
			&.seperator {
				font-size: 3rem;
				padding: 1rem;
			}
		}
		&.active {
			grid-row: 3/4;
			height: 72vh;
			width: 97;
		}
	}
	.hadith {
		h1 {
			font-size: 7rem;
		}
	}
	.quran__page--number {
		bottom: 2.7%;
	}
}

.line__divider {
	font-family: 'Divider', serif;
	font-size: 5rem;
	color: rgba(black, 0.6);
	text-align: center;
	font-weight: 400;
	margin: 5rem 0rem;
	&.upsidedown {
		transform: rotate(180deg);
	}
}
.eng {
	font-family: 'English', serif !important;
	direction: ltr !important;
}
