.hadith,
.quran,
.tafsir {
	// scroll-behavior: smooth;
	position: relative;
	@include reader();
	.toggle {
		//TODO : FIXED POSITION WHEN SCROLLING ( sticky / fixed )
		position: fixed;
		backdrop-filter: blur(10px);
		background-color: rgba(#b0b3c0, 0.5);
	}
}

.quran__page--number {
	position: fixed;
	bottom: 2%;
	right: 45%;
	opacity: 0.5;
	backdrop-filter: blur(10px);
	background-color: rgba(#b0b3c0, 0.5);
}
.divider {
	font-family: 'Divider', serif;
	font-size: 5rem;
	color: rgba(black, 0.6);
	text-align: center;
	font-weight: 400;
	margin: 5rem 0rem;
}

.hadith {
	h1,
	p h1 {
		font-family: 'Parenthesis', 'amiri', serif;
		font-weight: 800;
		font-size: 8rem;
		margin: 3rem 0rem;
		&.selected {
			color: rgb(98, 98, 205);
		}
	}
	p {
		font-family: 'amiri', serif;
		font-weight: 400;
		border: 3px solid rgba(0, 0, 0, 0.1);
		padding: 5rem;
	}
	h2,
	p h2 {
		font-family: 'Divider', serif;
		font-size: 10rem;
		font-weight: 400;
		margin: 1.5rem 0rem;
		&.selected {
			color: rgb(98, 98, 205);
		}
	}
	.grades {
		p {
			color: #81838d;
			border: none;
			padding: 0rem;
		}
	}
}

.quran {
	p,
	span {
		font-family: 'Uthmanic', 'amiri', serif;
		font-weight: 400;
		.padds {
			padding: 1.5rem;
		}
	}
	h1 {
		font-family: 'Surah', serif;
		font-weight: 100;
		font-size: 18rem;
		margin: 6rem 0rem;
		color: $tertiary-color;
		// give stroke
		-webkit-text-stroke: 1px $primary-color;
	}
	h2 {
		font-weight: 400;
		font-size: 8rem;
		margin: 3.5rem 0rem;
		&.quran__istieadha {
			font-family: 'Istieadha', serif;
		}
		&.quran__basmallah {
			font-family: 'Basmallah', serif;
		}
	}
	.quran__verse,
	span {
		.selected {
			color: rgb(98, 98, 205);
		}
	}
	.selected {
		color: rgb(98, 98, 205);
	}
}

.tafsir {
	h1 {
		font-family: 'Surah', serif;
		font-weight: 100;
		font-size: 18rem;
		margin: 4rem 0rem;
		color: $tertiary-color;
		// give stroke
		-webkit-text-stroke: 1px $primary-color;
	}
	h2 {
		font-weight: 400;
		margin: 1.5rem 0rem;
		&.quran__istieadha {
			font-family: 'Istieadha', serif;
		}
		&.quran__basmallah {
			font-family: 'Basmallah', serif;
		}
	}
	p {
		font-family: 'Uthmanic', 'amiri', serif;
		font-weight: 400;
		margin: 1.5rem 0rem;
		text-align: end;
		&.explanation {
			border: 3px solid rgba(0, 0, 0, 0.1);
			font-size: 3rem;
			line-height: 4.5rem;
			padding: 2rem;
			color: rgba(black, 0.6);
			font-family: 'amiri', serif;
		}
		&.seperator {
			font-family: 'Divider', serif;
			font-size: 5rem;
			color: rgba(black, 0.6);
			text-align: center;
			font-weight: 400;
			margin: 0rem 0rem;
		}
		&.quran__verse {
			border: 3px solid rgba(0, 0, 0, 0.5);
			padding: 2rem;
		}
		&.selected {
			color: rgb(98, 98, 205);
		}
	}
}
@media screen and (max-width: 1200px) {
	.hadith,
	.tafsir {
		h1 {
			font-size: 12rem;
		}
	}
}

@media screen and (max-width: 1200px) {
	.mainReading_Quran,
	.mainReading_Tafsir,
	.mainReading_Hadith {
		grid-template-columns: 1fr;
		grid-template-rows: 3fr;
		margin: 0rem 0rem;
		row-gap: 2%;
		padding: 0;
		align-items: center;
		justify-content: center;
		&.active {
			grid-template-columns: 1fr;
			grid-template-rows: 7vh 7vh 1fr;
			.tafsir,
			.quran,
			.hadith {
				height: 72vh;
			}
		}
	}

	.Lsidebar,
	.Rsidebar {
		flex-direction: row;
	}
	.tafsir,
	.quran,
	.hadith {
		height: 88.5vh;
		width: 97vw;
		grid-row: 1/4;
		margin-bottom: 2rem;
		h1 {
			font-size: 20rem;
		}
		h2 {
			font-size: 10rem;
		}
		p {
			&.verse {
				font-size: 3rem;
				padding: 1rem;
			}
			&.explanation {
				font-size: 2.5rem;
				padding: 1rem;
			}
			&.seperator {
				font-size: 3rem;
				padding: 1rem;
			}
		}
		&.active {
			grid-row: 3/4;
			height: 72vh;
			width: 97;
		}
	}
	.hadith {
		h1 {
			font-size: 7rem;
		}
	}
	.quran__page--number {
		bottom: 2.7%;
	}
}
