.results {
	grid-column: 1/-4;
	height: 90vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba($secondary-color, 0.7);
	padding: 2rem;
	gap: 1.5rem;
	border-radius: 1rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
	overflow-y: scroll;
	margin-right: 1rem;
	margin-left: 1rem;

	&__item {
		background: linear-gradient(100deg, $primary-color-light 0%, $primary-color-dark 100%);
		padding: 1.5rem;
		border-radius: 3rem;
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
		margin-bottom: 1.5rem;
		transition:
			transform 0.3s,
			box-shadow 0.3s;
		width: 100%;
		cursor: pointer;
		&--counter,
		&--counter--error {
			background-color: $primary-color;
			color: $success;
			font-size: 3rem;
			font-weight: 800;
			margin-bottom: 1.5rem;
			padding: 0.5rem 1rem;
			border-radius: 0.5rem;
			text-align: center;
			box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
			text-shadow: 0 0 0.5rem black;
			z-index: 100;
			&--error {
				color: $error;
			}
			@media screen and (max-width: 1200px) {
				font-size: 2.5rem;
				
			}
			@media screen and (max-width: 800px) {
				font-size: 2rem;
				
			}
		}
		&--quran,
		&--hadith,
		&--tafsir {
			padding: 1.5rem;
			border-left: 5px solid $primary-color-light;
			margin-bottom: 1.5rem;
			border-radius: 1rem;
			background-color: rgba($primary-color-lighter, 0.3);
			position: relative;
			a {
				top: 0;
				left: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 100;

				&:hover {
					transform: translateY(-0.5rem);
					scale: 1.01;
				}
			}
			&--text {
				font-size: 2rem;
				line-height: 1.6;
				color: $secondary-color;
				@media screen and (max-width: 1200px) {
					font-size: 1.5rem;
					
				}
				@media screen and (max-width: 1200px) {
					font-size: 1.3rem;
					
				}
				span.match {
					color: $sucess-saturated;
				}
			}

			&--ayah,
			&--collection,
			&--collection {
				font-weight: bold;
				font-size: 2.4rem;
				margin-bottom: 2rem;
				color: $tertiary-color;
				text-shadow: 0 0 0.5rem black;
				text-decoration: underline;
				@media screen and (max-width: 1200px) {
					font-size: 2rem;
					
				}
				@media screen and (max-width: 800px) {
					font-size: 1.7rem;
					
				}
			}

			&:hover {
				transform: translateY(-0.5rem);
				box-shadow: 1rem 0 2rem rgba(0, 0, 0, 1);
				scale: 1.01;
			}
		}
		&--quran {
			border-left-color: $primary-color-dark;
		}

		&--hadith {
			border-left-color: $secondary-color;
		}

		&--tafsir {
			border-left-color: $tertiary-color;
		}
	}
	@media screen and (max-width: 1300px) {
		grid-column: 1/-5;
	}
	@media screen and (max-width: 650px) {
		grid-column: 1/8;
	}
}
